[alias]
  l = log --color --pretty=format:'%Cred%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  st = status
  co = checkout
  cm = commit
  rb = rebase
  br = branch
  amd = commit --amend
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
[help]
  autocorrect = 1
[push]
  default = current
[user]
